#background-video {
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}

.links-container {
  display: flex; /* Arrange links horizontally */
  flex-direction: column; /* Stack links vertically */
  gap: 10px; /* Add space between links */
  text-decoration: none; /* Remove default link underline */
}

.links-container a {
  padding: 10px 20px; /* Add padding to links */
  background-color: #2ECC71; /* Example button color (adjustable) */
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Indicate clickable element */
  color: white; /* Inherit text color from body */
}

.links-container a:hover {
  background-color: #4CAF50; /* Change to a different green shade on hover */
  cursor: pointer; /* Indicate clickable element */
}

h1 {
  margin-bottom: 20px; /* Add space below heading */
  text-align: center; /* Center the heading */
  font-size: 24px; /* Adjust font size as needed */
  color: white;
}

